<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="false">
    <serverUrls>
        <serverUrl url="http://10.1.14.20:81" matchAll="false"/>
        <serverUrl url="http://192.168.0.101/geoserver/IDESF/wfs" mustMatch="false"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
